<div class="about bg-wpoo">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="about-content">
          <h1 class="p-0 m-0 text-uppercase font-weight-normal wow fadeInLeft" data-wow-duration="1s">What is Lorem
            Ipsum?</h1>
          <p class="font-weight-900 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">Lorem Ipsum is simply
            dummy text of the
            printing and</p>
          <a href="#" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">Learn About</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-img wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <img src="../../assets/img/screen.svg" alt="screen" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>