<div class="about bg-wpoo">
  <div class="container-fluid spacing-left spacing-right">
    <div class="row">
      <div class="col-md-6">
        <div class="about-content position-relative">
          <h1 class="p-0 m-0 text-uppercase font-weight-normal">What is Lorem Ipsum?</h1>
          <p>Lorem Ipsum is simply
            dummy text of the
            printing and</p>
          <button class="text-center default-btn text-uppercase text-decoration-none">Learn About</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-img position-relative">
          <img src="../../assets/img/screen.svg" alt="screen" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>