<div class="blog-slider">
  <div class="container-fluid spacing-left spacing-right">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <div class="indicator-bg">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="p-5 title-section">
                <h3>Latest from
                  the Blog</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor </p>
                <a class="d-inline-block text-uppercase default-btn">visit the blog</a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="p-5 slider-content">
                <img src="../../assets/img/slider_01.svg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h3>The Title of a Blog Post
                    Would Go Right Here</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span> -->
        <span><img src="../../assets/img/arrow_left.svg" alt="previous"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span> -->
        <span><img src="../../assets/img/arrow_right.svg" alt="next"></span>
      </a>
    </div>
  </div>
</div>