<div class="certified">
  <div class="container-fluid spacing-left spacing-right">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="title-section">
                <h3>Lorem Ipsum is simply</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor
                  invidunt ut labore et dolore.</p>
                <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="certified-img">
                <img src="../../assets/img/quick_book.svg" class="pr-3 img-fluid" alt="Certified Pro Advisor">
                <img src="../../assets/img/app_add.svg" class="pl-3 img-fluid" alt="ADP Certified Partner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>