<footer class="footer">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.4s">
          <a href="#" class="d-inline-block">
            <img src="../../assets/img/logo.svg" class="d-inline-block" alt="logo">
          </a>
        </div>
        <div class="text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
          <ul class="mb-4">
            <li class="nav-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22">
                <path id="np_phone_2173681_000000"
                  d="M22.4,0a1.961,1.961,0,0,0-1.955,1.956V20.044A1.961,1.961,0,0,0,22.4,22h9.09a1.961,1.961,0,0,0,1.955-1.956V1.956A1.961,1.961,0,0,0,31.486,0Zm3.456,1.884h2.179c.143,0,.259.164.259.367s-.116.367-.259.367H25.853c-.143,0-.259-.164-.259-.367s.116-.367.259-.367ZM21.516,4.5H32.369v13H21.516Zm5.426,14.042a1.211,1.211,0,1,1-1.21,1.211A1.211,1.211,0,0,1,26.942,18.539Z"
                  transform="translate(-20.441)" fill="#2b8fe5" />
              </svg>

              <span class="pl-1 text-white align-middle d-inline-block">Call: </span>
              <a class="text-white align-middle" target="_blank" href="tel:+8801718188425">(123) 456-7890</a>
            </li>
            <li class="pr-2 nav-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
                <path id="np_envelope_1982262_000000"
                  d="M9.289,18A3.311,3.311,0,0,0,6,21.305v12.39A3.311,3.311,0,0,0,9.289,37H28.711A3.31,3.31,0,0,0,32,33.695V21.305A3.31,3.31,0,0,0,28.711,18Zm0,1.781H28.711a1.5,1.5,0,0,1,1.517,1.524v12.39a1.5,1.5,0,0,1-1.517,1.524H9.289a1.5,1.5,0,0,1-1.517-1.524V21.305a1.5,1.5,0,0,1,1.517-1.524Zm18.419.66a.886.886,0,0,0-.619.274L19,28.843l-8.089-8.128A.885.885,0,0,0,9.454,21a.894.894,0,0,0,.2.973l5.5,5.526-5.5,5.526h0a.889.889,0,1,0,1.253,1.259l5.5-5.526,1.963,1.973h0a.883.883,0,0,0,1.253,0l1.963-1.973,5.5,5.526h0a.893.893,0,0,0,.63.274.884.884,0,0,0,.636-.261.893.893,0,0,0-.013-1.272l-5.5-5.526,5.5-5.526h0a.891.891,0,0,0-.635-1.533Z"
                  transform="translate(-6 -18)" fill="#2b8fe5" />
              </svg>

              <span class="pl-1 text-white align-middle d-inline-block">Email: </span>
              <a class="text-white align-middle" target="_blank" href="mailto:info@wppool.com">info@wppool.com
              </a>
            </li>
          </ul>
        </div>
        <div class="text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.8s">
          <ul>
            <li class="nav-item active">
              <a class="pr-0 text-white text-uppercase font-weight-900" href="#">home <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="pr-0 text-white text-uppercase font-weight-900" href="#">about us</a>
            </li>
            <li class="nav-item">
              <a class="pr-0 text-white text-uppercase font-weight-900" href="#">meet the team</a>
            </li>
            <li class="nav-item">
              <a class="pr-0 text-white text-uppercase font-weight-900" href="#">blog</a>
            </li>
            <li class="nav-item">
              <a class="pr-0 text-white text-uppercase font-weight-900" href="#">contact</a>
            </li>
          </ul>
        </div>
        <div class="text-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
          <p class="text-center text-muted">© Copyright 2020. WPPOOL, LLC. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>