<div class="firm_mission">
  <div class="container-fluid spacing-left spacing-right">
    <div class="row">
      <div class="col-md-12">
        <div class="our-firm">
          <div class="row">
            <div class="col-md-4">
              <div class="title-section">
                <h3 class="text-white">About Our Firm</h3>
                <p class="text-white">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                </p>
                <a href="#" class="text-white bg-transparent default-btn text-uppercase">about us</a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="img-calculator">
                <img src="../../assets/img/calculator.svg" class="img-fluid" alt="calculator">
              </div>
            </div>
          </div>
        </div>
        <div class="our-mission">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center title-section">
                <h3 class="text-white">Our Mission + Values</h3>
                <p class="text-white">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/honesty.svg" alt="honesty" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">honesty</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/quality.svg" alt="honesty" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">quality</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/idea.svg" alt="knowledge" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">knowledge</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/handshake.svg" alt="handshake" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">respect</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/teamwork.svg" alt="Culture" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">culture</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/community_network.svg" alt="Community" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">Community</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <a class="text-white bg-transparent d-inline-block default-btn text-uppercase">MISSION + VALUES</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>