<div class="firm_mission" id="scrollAbout">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="our-firm wow fadeInLeft" data-wow-duration="1s">
          <div class="row">
            <div class="col-md-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
              <div class="title-section">
                <h3 class="text-white">About Our Firm</h3>
                <p class="text-white">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                </p>
                <a href="#">about us</a>
              </div>
            </div>
            <div class="col-md-7 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="img-calculator">
                <img src="../../assets/img/calculator.svg" class="img-fluid bg_calculator" alt="calculator">
                <img src="../../assets/img/bg_plus_yellow.svg" alt="plus icon"
                  class="bg_plus_yellow img-fluid wow bounce" data-wow-iteration="infinite" data-wow-duration="5000ms">
                <img src="../../assets/img/bg_close.svg" alt="close icon" class="bg_close img-fluid wow bounce"
                  data-wow-iteration="infinite" data-wow-duration="6000ms">
                <img src="../../assets/img/bg_equal.svg" alt="equal icon" class="bg_equal img-fluid wow bounce"
                  data-wow-iteration="infinite" data-wow-duration="7000ms">
                <img src="../../assets/img/bg_minus.svg" alt="minus icon" class="bg_minus img-fluid wow bounce"
                  data-wow-iteration="infinite" data-wow-duration="8000ms">
              </div>
            </div>
          </div>
        </div>
        <div class="our-mission">
          <div class="minus_icon">
            <img src="../../assets/img/bg_minus.svg" alt="minus icon" class="img-fluid wow bounce"
              data-wow-iteration="infinite" data-wow-duration="9000ms">
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 wow fadeInUp" data-wow-duration="2000ms">
              <div class="text-center title-section">
                <h3 class="text-white">Our Mission + Values</h3>
                <p class="text-white">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book.
                </p>
              </div>
            </div>
          </div>
          <div class="row virtu-icons">
            <div class="col-md-2 col-sm-4 col-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/honesty.svg" alt="honesty" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">honesty</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/quality.svg" alt="honesty" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">quality</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/idea.svg" alt="knowledge" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">knowledge</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/handshake.svg" alt="handshake" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">respect</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
              <div class=" d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/teamwork.svg" alt="Culture" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">culture</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-4 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.8s">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <img src="../../assets/img/community_network.svg" alt="Community" class="img-fluid">
                <span class="text-white d-inline-block text-capitalize font-weight-900">Community</span>
              </div>
            </div>
          </div>
          <div class="row button-spacing">
            <div class="col-md-12">
              <div class="text-center">
                <a href="#" class="text-white default-btn wow fadeInLeft" data-wow-duration="1s"
                  data-wow-delay="0.9s">MISSION + VALUES</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>