<div class="container-fluid spacing-left spacing-right">
  <nav class="navbar navbar-expand-lg">
    <a href="#" class="p-0 m-0 bg-transparent shadow-none navbar-brand">
      <img src="../../assets/img/textLogo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mb-1 navbar-toggler-icon d-flex flex-column bg-dark"></span>
      <span class="mb-1 navbar-toggler-icon d-flex flex-column bg-dark"></span>
      <span class="mb-1 navbar-toggler-icon d-flex flex-column bg-dark"></span>
    </button>
    <div class="collapse navbar-collapse flex-column align-items-end" id="navbarSupportedContent">
      <ul class="mb-3 navbar-nav top-nav">
        <li class="nav-item">
          <img src="../../assets/img/phone.svg" alt="phone-icon">
          <span class="pl-1 align-middle d-inline-block">Call: </span>
          <a class="align-middle" target="_blank" href="tel:+8801718188425">(123) 456-7890</a>
        </li>
        <li class="pr-2 nav-item">
          <img src="../../assets/img/envelope.svg" alt="email-icon">
          <span class="pl-1 align-middle d-inline-block">Email: </span>
          <a class="align-middle" target="_blank" href="mailto:info@wppool.com">info@wppool.com
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" href="#"><img src="../../assets/img/facebook.svg" alt="facebook"></a>
          <a target="_blank" href="#"><img src="../../assets/img/linkedin.svg" alt="linkedin"></a>
        </li>
      </ul>
      <ul class="navbar-nav main-nav">
        <li class="nav-item active">
          <a class="pr-0 text-uppercase" href="#">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#">about us</a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#">meet the team</a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#">blog</a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#">contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>