<header>
  <nav class="navbar navbar-expand-md" id="navbar_top">
    <a href="#" class="p-0 m-0 bg-transparent shadow-none navbar-brand">
      <img src="../../assets/img/textLogo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mb-1 navbar-toggler-icon d-flex flex-column"></span>
      <span class="mb-1 navbar-toggler-icon d-flex flex-column"></span>
      <span class="mb-1 navbar-toggler-icon d-flex flex-column"></span>
    </button>
    <div class="collapse navbar-collapse flex-column align-items-end" id="navbarSupportedContent">
      <ul class="mb-3 navbar-nav top-nav">
        <li class="nav-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22">
            <path
              d="M22.4,0a1.961,1.961,0,0,0-1.955,1.956V20.044A1.961,1.961,0,0,0,22.4,22h9.09a1.961,1.961,0,0,0,1.955-1.956V1.956A1.961,1.961,0,0,0,31.486,0Zm3.456,1.884h2.179c.143,0,.259.164.259.367s-.116.367-.259.367H25.853c-.143,0-.259-.164-.259-.367s.116-.367.259-.367ZM21.516,4.5H32.369v13H21.516Zm5.426,14.042a1.211,1.211,0,1,1-1.21,1.211A1.211,1.211,0,0,1,26.942,18.539Z"
              transform="translate(-20.441)" fill="#092772" /></svg>
          <span class="pl-1 align-middle d-inline-block">Call: </span>
          <a class="align-middle" target="_blank" href="tel:+8801718188425">(123) 456-7890</a>
        </li>
        <li class="pr-2 nav-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19">
            <path
              d="M9.289,18A3.311,3.311,0,0,0,6,21.305v12.39A3.311,3.311,0,0,0,9.289,37H28.711A3.31,3.31,0,0,0,32,33.695V21.305A3.31,3.31,0,0,0,28.711,18Zm0,1.781H28.711a1.5,1.5,0,0,1,1.517,1.524v12.39a1.5,1.5,0,0,1-1.517,1.524H9.289a1.5,1.5,0,0,1-1.517-1.524V21.305a1.5,1.5,0,0,1,1.517-1.524Zm18.419.66a.886.886,0,0,0-.619.274L19,28.843l-8.089-8.128A.885.885,0,0,0,9.454,21a.894.894,0,0,0,.2.973l5.5,5.526-5.5,5.526h0a.889.889,0,1,0,1.253,1.259l5.5-5.526,1.963,1.973h0a.883.883,0,0,0,1.253,0l1.963-1.973,5.5,5.526h0a.893.893,0,0,0,.63.274.884.884,0,0,0,.636-.261.893.893,0,0,0-.013-1.272l-5.5-5.526,5.5-5.526h0a.891.891,0,0,0-.635-1.533Z"
              transform="translate(-6 -18)" fill="#092772" /></svg>
          <span class="pl-1 align-middle d-inline-block">Email: </span>
          <a class="align-middle" target="_blank" href="mailto:info@wppool.com">info@wppool.com
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" href="#">

            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g transform="translate(-910 -6830)">
                <g transform="translate(379 643)">
                  <circle cx="14" cy="14" r="14" transform="translate(531 6187)" fill="#395693" />
                </g>
                <path
                  d="M3.857,14V7.612h1.8l.257-2.45H3.857V3.5c0-.7.171-1.225,1.029-1.225H6V.087C5.829.087,5.143,0,4.371,0,2.829,0,1.8,1.137,1.8,3.325V5.162H0v2.45H1.8V14Z"
                  transform="translate(920.947 6837)" fill="#fff" />
              </g>
            </svg>
          </a>
          <a target="_blank" href="#">

            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g transform="translate(-1762 -57)">
                <g transform="translate(1231 -6130)">
                  <circle cx="14" cy="14" r="14" transform="translate(531 6187)" fill="#0270ad" />
                </g>
                <g transform="translate(-31 -6.117)">
                  <path
                    d="M8.316,8.108H5.593V3.927a3.157,3.157,0,0,0-.112-.9,1.288,1.288,0,0,0-.447-.7,1.324,1.324,0,0,0-1.006-.238A1.441,1.441,0,0,0,2.782,3.139a1.86,1.86,0,0,0-.057.593c0,1.41,0,2.822,0,4.232V8.1H0V.192H2.723v1.1c.112-.139.2-.259.3-.373A2.568,2.568,0,0,1,4.668.037,3.62,3.62,0,0,1,6.388.2,2.606,2.606,0,0,1,7.52.985a3.4,3.4,0,0,1,.738,1.787c.02.149.041.3.059.446Z"
                    transform="translate(1805.406 74.751)" fill="#fff" />
                  <path
                    d="M0,1.2c.01-.041.022-.081.033-.122A1.367,1.367,0,0,1,1.256.02a1.832,1.832,0,0,1,1.1.163A1.325,1.325,0,0,1,3.038,1.63a1.276,1.276,0,0,1-.961,1.023,1.787,1.787,0,0,1-1.331-.09,1.292,1.292,0,0,1-.724-.95C.016,1.591.008,1.571,0,1.549Z"
                    transform="translate(1801 71.117)" fill="#fff" />
                  <path
                    d="M.008,0H2.719V7.912c-.035,0-.069,0-.106,0-.833,0-1.667,0-2.5,0C.024,7.918,0,7.895,0,7.808Q0,3.949,0,.092C0,.063.006.035.008,0Z"
                    transform="translate(1801.161 74.944)" fill="#fff" />
                </g>
              </g>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav main-nav" id="main-nav">
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#scrollAbout">about us</a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#scrollTeam">meet the team</a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#scrollBlog">blog</a>
        </li>
        <li class="nav-item">
          <a class="pr-0 text-uppercase" href="#scrollContact">contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>