<div class="service">
  <div class="container-fluid spacing-left spacing-right">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center title-section">
          <h3>Lorem Ipsum is simply dummy text</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center card">
          <div class="card-body">
            <img src="../../assets/img/business.svg" class="img-fluid d-inline-block" alt="small-business">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#" class="default-btn text-uppercase d-inline-block">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center card">
          <div class="card-body">
            <img src="../../assets/img/software.svg" class="img-fluid d-inline-block" alt="Software">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#" class="default-btn text-uppercase d-inline-block">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center card">
          <div class="card-body">
            <img src="../../assets/img/team.svg" class="img-fluid d-inline-block" alt="Legal Team">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#" class="default-btn text-uppercase d-inline-block">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center card">
          <div class="card-body">
            <img src="../../assets/img/business.svg" class="img-fluid d-inline-block" alt="small-business">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#" class="default-btn text-uppercase d-inline-block">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center card">
          <div class="card-body">
            <img src="../../assets/img/software.svg" class="img-fluid d-inline-block" alt="Software">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#" class="default-btn text-uppercase d-inline-block">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center card">
          <div class="card-body">
            <img src="../../assets/img/team.svg" class="img-fluid d-inline-block" alt="Legal Team">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#" class="default-btn text-uppercase d-inline-block">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>