<div class="service">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center title-section">
          <h3 class="wow fadeInLeft item-heading" data-wow-duration="1s" data-wow-delay="0.2s">Lorem Ipsum is simply
            dummy text</h3>
          <p class="wow fadeInLeft item-heading" data-wow-duration="1s" data-wow-delay="0.4s">Lorem Ipsum is simply
            dummy text of the printing and typesetting industry</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="text-center card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
          <div class="card-body">
            <img src="../../assets/img/business.svg" class="img-fluid d-inline-block" alt="small-business">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="text-center card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="card-body">
            <img src="../../assets/img/software.svg" class="img-fluid d-inline-block" alt="Software">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="text-center card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
          <div class="card-body">
            <img src="../../assets/img/team.svg" class="img-fluid d-inline-block" alt="Legal Team">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="text-center card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
          <div class="card-body">
            <img src="../../assets/img/business.svg" class="img-fluid d-inline-block" alt="small-business">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="text-center card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="card-body">
            <img src="../../assets/img/software.svg" class="img-fluid d-inline-block" alt="Software">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6">
        <div class="text-center card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
          <div class="card-body">
            <img src="../../assets/img/team.svg" class="img-fluid d-inline-block" alt="Legal Team">
            <p class="card-text">
              Lorem Ipsum is simply dummy text
            </p>
            <a href="#">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>