<div class="team" id="scrollTeam">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="team-wrapper wow fadeInUp" data-wow-duration="2000ms">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4">
              <div class="team-img">
                <img src="../../assets/img/team_members.svg" class="img-fluid" alt="Team Members">
              </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-8">
              <div class="title-section">
                <h3 class="text-white">Meet the Team</h3>
                <p class="text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy lorem
                  dolor.</p>
                <a href="#" class="text-white default-btn">MEET THE Team</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>