<div class="team">
  <div class="container-fluid spacing-left spacing-right">
    <div class="row">
      <div class="col-md-12">
        <div class="team-wrapper">
          <div class="row align-items-center">
            <div class="col-md-3">
              <div class="team-img">
                <img src="../../assets/img/team_members.svg" class="pr-3 img-fluid" alt="Team Members">
              </div>
            </div>
            <div class="col-md-6">
              <div class="title-section">
                <h3>Meet the Team</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy lorem dolor.</p>
                <a class="d-inline-block text-uppercase default-btn">MEET THE Team</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>