.border-space {
  padding-top: 20px;
  padding-bottom: 40px;
  @include spacing;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-bottom: 20px;
  }
  hr {
    border-width: 2px;
    border-color: #F0C331;
  }
}
.border-bottom-space {
  background-image: url(../../assets/img/bg_plus_grey.svg);
  @include background-repeat;
  background-position: left top;
  background-size: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 50px;
  @include spacing;
  @include media-breakpoint-down(sm){
    background-size: 28%;
    margin-top:0;
  }
  @include media-breakpoint-down(xs) {
    padding-top: 30px;
  }
  hr {
    border-width: 8px;
    border-color: $secondary;
  }
}