.firm_mission {
  background-color: $primary;
  background-image: url(../../assets/img/bg_plus.svg);
  background-repeat: no-repeat;
  background-position: -4% 0%;
  background-size: 15%;
  padding-top: 2rem;
}