nav { 
  &.navbar {
    @include spacing;
    padding-top: 58px;
    transition: $animation-duration;
    @include media-breakpoint-down(lg) {
      @include padding-top;
      padding-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
    @include media-breakpoint-down(sm){
      @include padding-y;
      box-shadow: 0 5px 15px rgba(0,0,0,0.050);
    }
    a {
      &.navbar-brand {
        img {
          @include media-breakpoint-down(md) { 
            max-width: 150px;
          }
        }
      }
    }
    button {
      &.navbar-toggler{
        span {
          &.navbar-toggler-icon {
            height: 5px;
            background: $secondary;
          }
        }
      }
    }
  .navbar-collapse {
    ul {
      &.top-nav {
        @include media-breakpoint-down(sm) {
          display: none;
        }
        li {
          &:first-child {
            padding-right: 2.313rem;
            @include media-breakpoint-down(md) {
              @include padding-right;
            }
          }
          &.nav-item {
            span{
              color: $text-gray-500;
              @include font-size-responsive
            }
            a {
              color: $secondary;
              transition: $animation-duration;
              @include font-size-responsive
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
      &.main-nav {
        @include media-breakpoint-down(sm) {
         @include padding-top;
        }
        li {
          &.activeClass {
            a {
              color: $secondary;
            }
          }
          @include media-breakpoint-down(sm) {
            line-height: 2rem;
          }
          a {
            color: $primary;
            padding-left: 2rem;
            transition: $animation-duration;
            font-weight: $font-weight-bolder;
            @include font-size-responsive;
            @include media-breakpoint-down(md) {
              @include padding-left;
            }
            &:hover {
              color: $secondary;
              margin-right:3px;
            }
          }
        }
      }
    }
  }
 }
 &.fixed-top {
  top: -60px;
  transform: translateY(60px);
  transition: transform .3s;
  @include padding-y;
  @include spacing;
  background-color: $white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  @include media-breakpoint-down(xs) {
    @include padding-left;
    padding-right: 0;
  }
  .top-nav {
    display: none;
  }
 }
}