$white: #fff !default;
$black: #000 !default;

$primary: #092772 !default;
$secondary: #2B8FE5 !default;

$text-gray-500: #5F6672 !default;

$body-color: $white;

$font-family: "eurostile",sans-serif;

$animation-duration: all 0.5s; 
$font-weight-bolder: 900;