@import "imports.scss";

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  color: $primary;
  background-color: $body-color;
  height: 100%;
  font-size: 1.3125rem;
  line-height: 1.75rem;
}
.font-weight-900 {
  font-weight: 900;
}
a {
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
}
.spacing-left {
  padding-left:130px;
  @media(max-width:767px) {
    padding-left: 15px;
  }
}
.spacing-right {
  padding-right: 154px;
  @media(max-width:767px) {
    padding-right:15px;
  }
}
.default-btn {
  min-width: 245px;
  height: 84px;
  padding: 20px 36px 23px 36px;
  border-radius: 0;
  background-color: $white;
  color: $primary;
  border: 6px solid $secondary;
  font-size: 1.5rem;
  font-weight: 900;
  font-style: normal;
  line-height: 0rem;
  letter-spacing: 0;
  word-spacing: 0.031rem;
}
.title-section {
  margin-bottom: 45px;
  h3 {
    font-size: 48px;
    line-height: 62px;
    color: $primary;
    font-weight: 900;
  }
  p {
    margin-bottom: 0;
    color: #000000;
    line-height: 32px;
  }
}






